* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
header {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  width: 1400px;
  margin: auto;
}
header div {
  display: flex;
  align-items: center;
  gap: 10px;
}
header nav {
  display: flex;
  gap: 50px;
}
header h1 {
  color: #2947a9;
}
.section1 {
  display: flex;
  width: 100%;
  height: 92vh;
  align-items: center;
  justify-content: space-around;
  background-image: url(backround.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: bottom;
}
.section1 h1 {
  font-size: 72px;
  font-weight: 700;
  position: absolute;
  left: 150px;
}
.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #2947a9;
  color: white;
  padding: 20px 0;
}
.col p {
  font-size: 22px;
  width: 405px;
  text-align: center;
}
.use {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 0;
}
.row {
  display: flex;
  gap: 10px;
}
.row button {
  background-color: #292e3d;
  color: white;
  border: none;
  padding: 8px 80px;
  display: flex;
  align-items: center;
}
.section2 {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.rw {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  gap: 100px;
}
.rw div {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  padding: 20px;
  border: 2px solid #e0e3eb;
  border-radius: 5px;
}
.section3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}
.section3 div {
  background-color: #2947a9;
  padding: 50px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 25px;
  position: relative;
  left: 350px;
}
.section3 div p {
  width: 310px;
}
.section3 button {
  padding: 10px 20px;
  font-weight: 600;
  font-size: 18px;
  color: #2947a9;
  border-radius: 5px;
  border: none;
  transition: all 1s;
}
.section3 img {
  position: absolute;
  z-index: -1;
  left: 250px;
}
.section3 button:hover {
  background-color: rgb(1, 160, 1);
  color: white;
  transition: all 1s;
}
.images {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  margin-left: 225px;
}
.section4 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 100px ;
}
.section4 p {
  color: #525b7a;
  font-size: 24px;
}
.section4 nav {
  display: flex;
  gap: 10px;
  padding-left: 20px;
}
.section4 h1 {
  font-size: 72px;
  color: #292e3d;
}
.imgg {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  position: relative;
}
.section4 .div {
  display: flex;
  flex-direction: column;
  padding: 10px 30px 20px;
  box-shadow: 0px 1px 4px -2px;
}
.ill {
  position: absolute;
  right: -60px;
  top: -30px;
}
.div1 {
  position: relative;
  top: -15px;
  left: -250px;
}
.ill1 {
  left: -65px;
  top: -60px;
}
.div2 {
  position: relative;
  top: -15px;
  left: 0px;
}
.ill2{
  top: 75px;
  left: 250px;
}
.aside{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 25px;
}
.section4 aside{
  margin-left: 150px;
}
.aside button{
  padding: 10px 35px;
  border: none;
  background-color: #2947a9;
  color: white;
  font-size: 18px;
}
.section5{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 250px;
  background-image: url(back.png);
  background-position: center;
  color: white;
  padding: 75px;
  background-repeat: no-repeat;
  background-size: cover;
}
.section5 aside{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section5 button{
  padding: 10px 20px;
  border: 2px solid white;
  background: none;
  color: white;
  font-size: 16px;
}
.section6{
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 500px;
  margin-left: 100px;
  padding: 50px;
}
.bold{
  font-weight: bold;
  color: #2947a9;
}
.section6 aside{
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.clas{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  padding: 100px 10px 50px;
  gap: 20px;
}
.clas div{
  background-color: #2947a9;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
}
.buttons{
  display: flex;
  flex-direction: row !important;
  align-items: center;
  padding: 0px;
  background-color: transparent !important;
  gap: 20px;
}
.buttons button{
  padding: 20px 122px ;
  background-color: #292e3d;
  border: none;
  display: flex;
  align-items: center;
  color: white;
  font-size: 18px;
}
.box{
  display: grid;
  grid-template-columns: repeat(2,300px);
  grid-template-rows: repeat(5,40px);
  justify-content: center;
  gap: 20px;
}
.box textarea{
  grid-row: 3/6;
  grid-column: 1/3;
}
.section7{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 50px 0;
}
.section7 input , textarea{
  outline: none;
}
.section7 ::placeholder{
  color: #A3AAC2;
}
.section7 button{
  padding: 14px 100px;
  background-color: #2947a9;
  color: white;
  border: none;
  font-size:  16px;
}
.section8{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 75px;
}
.section8 aside{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section8 aside div{
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 0;
  gap: 10px;
}
.enter{
  padding: 8px 75px 8px 5px;
  border: 2px solid #E0E3EB;
  border-radius: 5px;
  outline: none;
}
.enter::placeholder{
  color: #A3AAC2;
}
.reset{
  padding:  8px 20px;
  border: none;
  background-color: #F9995D;
  color: white;
  border-radius: 5px;
}
footer{
  background-color: #2947a9;
  padding: 25px 25px 25px 200px ;
  color: white;
}